* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    /* Basic colors  */
    --transition-smooth: all 0.5s ease-in-out;
    --cl-background: #ffffff;
    --cl-bgopacity1: hsl(0, 0%, 110%);
    --cl-bgopacity: rgba(255, 255, 255, 0.192);
    --cl-primary: #ffffff;
    --cl-prim-dark: #f1ecec;
    --cl-secondary: #007BFF;
    --cl-sec-light: #e0f0ff;
    --cl-sec-dark: #0056b3;
    --cl-card-h3: #999983;
    --cl-orange: #ff8000;
    --cl-green: #008000;
    --cl-red: #ff0000;
    --cl-text: #2c3e50;
    --cl-shadow: rgba(0, 0, 0, 0.2);
    --cl-shadow1: rgba(0, 0, 0, 0.5);

    /* Border radius */
    --radius-circle: 50%;
    --card-radius: 2rem;
    --radius-1: 0.4rem;
    --radius-2: 0.8rem;
    --radius-3: 1.2rem;

    /* Icon size */
    --icon-sm: 0.5rem;
    --icon-md: 1.5rem;
    --icon-lg: 2rem;

    /* Others */
    --box-shadow: 0.05rem 0.1rem 1.5rem var(--cl-shadow);
    --box-shadow-reverse: -0.05rem -0.1rem var(--cl-bgopacity);
    --box-shadow1: -0.1rem 0.1rem 1.5rem var(--cl-shadow);
    --box-shadow2: 0.05rem 0.1rem 1.5rem var(--cl-shadow1);
    --card-padding: 1.5rem;
    --bgopacity: 0.5;
}

body.dark-mode {
    --cl-background: #272424;
    --cl-bgopacity: hsl(0, 0%, 21%);
    --cl-primary: #ffffff;
    --cl-prim-dark: #3f3e3e;
    --cl-secondary: #007BFF;
    --cl-sec-light: #e0f0ff;
    --cl-sec-dark: #0056b3;
    --cl-card-h3: #999983;
    --cl-orange: #ff8000;
    --cl-green: #008000;
    --cl-red: #ff0000;
    --cl-text: #ffffff;
    --cl-shadow: rgba(0, 0, 0, 0.8);
}

html {
    font-size: 13px;
}

body {
    width: 100vw;
    background: var(--cl-background);
    color: var(--cl-text);
    user-select: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cl-secondary);
}

img {
    width: 100vw;
    display: block;
}

i {
    font-size: 1.32rem;
}

h1 {
    font-size: 1.8rem;
    font-weight: 800;
}

h2 {
    font-size: 1.4rem;
    color: var(--cl-secondary);
}

h3 {
    font-size: 1.0rem;
}

.profile-photo {
    width: 3rem;
    height: 3rem;
    border-radius: var(--radius-circle);
    object-fit: cover;
    overflow: hidden;
}

.text-muted {
    color: var(--cl-green);
    font-size: 0.9rem;
    font-weight: bold;
}

.good {
    color: var(--cl-sec-dark);
}

.danger {
    color: var(--cl-red);
}

.container {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 17rem auto;
    transition: var(--transition-smooth);
}

nav {
    height: 100dvh;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 2rem;
    box-shadow: var(--box-shadow);
    position: relative;
}

nav > .vitalgo-id img {
    width: 95%;
    height: auto;
    margin: 1rem auto;
    border-radius: var(--radius-2);
}
nav #motto{
    position: fixed;
    width: 17rem;
    text-align: center;
}

.aside1 {
    display: none;
    overflow: hidden;
}

#close, #open {
    width: 2.1rem;
    height: 2.1rem;
    font-size: 1.5rem;
    color: var(--cl-sec-dark);
    top: 1vh;
    position: absolute;
    right: 0.5rem;
    display: none;
    cursor: pointer;
}

.linkpages {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2.22rem;
    gap: 1rem;
}

.linkpages i {
    font-size: 1.32rem;
    margin-right: 1rem;
}

.linkpages a, .linkpages1 a {
    color: var(--cl-secondary);
    display: block;
    width: 14.5rem;
    background: transparent;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: var(--radius-1);
    transition: var(--transition-smooth);
}

.linkpages a.active, .linkpages1 a.active {
    background: var(--cl-secondary);
    color: var(--cl-primary);
    margin-left: -0.52rem;
    border-radius: var(--radius-1);
    padding: 0.6rem 1rem;
    box-shadow: var(--box-shadow);
}

.linkpages a:hover, .linkpages1 a:hover {
    background: var(--cl-secondary);
    color: var(--cl-primary);
    margin-left: -0.52rem;
    box-shadow: var(--box-shadow);
}

.nav-footer {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 2rem;
    padding: 0 0.97rem;
}

/* main content */
main {
    width: auto;
    padding-left: min(5%, 1.23rem);
    overflow-y: auto;
}

/* header bar */
.header {
    width: 98%;
    height: 10vh;
    border-radius: var(--radius-2);
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 1.3rem auto;
    align-items: center;
    gap: 5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
}

.search-bar input {
    width: 41.32rem;
    position: relative;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    height: 5vh;
    margin-left: 1rem;
    padding-left: 1.87rem;
    border-radius: var(--radius-2);
    background: var(--cl-prim-dark);
    color: var(--cl-text);
    border: none;
}

.search-bar i {
    position: absolute;
    top: 40%;
    left: 1.5rem;
    z-index: 1;
}

.user-menu {
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: right;
    margin: auto 1.5rem;
    gap: 2rem;
    justify-content: safe;
}

.user-menu .togglemenu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--cl-prim-dark);
    gap: 0.28rem;
    padding: 0.28rem 0.28rem;
    border-radius: var(--radius-1);
}

.active-mode {
    background: var(--cl-secondary);
    color: var(--cl-primary);
    border-radius: var(--radius-1);
    padding: 0.28rem 0.28rem;
}
.video-container{
  text-align: center;
  height: 85dvh;
  position: relative;
}

.video-box {
  width: 99%;
  margin: 0;
}

#remoteVideo {
  width: 97%;
  height: 65dvh;
  padding: 0;
  flex: 1;
  margin: 1rem auto;
  background-color: transparent;
  border: 2px solid #003366;
  border-radius: var(--radius-2);
}

#localVideo{
  width: 150px;
  height: 90px;
  position: absolute;
  bottom: 13dvh;
  right: 3.5%;
  z-index: 99;
  background: var(--cl-shadow);
  border-radius: var(--radius-1);
}

#localVideo:hover{
        width: 180px;
        height: 120px;
}

#localVideo.active{
        width: 180px;
        height: 120px;
}
.controls{
  position: absolute;
  bottom: 10px;
}
.controls button {
  padding: 0.75rem 1.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #0056b3;
}

.slide-in {
    animation: slideIn 0.5s ease-in-out;
}

.slide-out {
    animation: slideOut 0.5s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}



@media (max-width: 769px) {
    .container {
        width: 100vw;
        box-sizing: border-box;
        padding: 0;
        grid-template-columns: 1fr;
        transition: var(--transition-smooth);
    }
    
    img {
        max-width: 30vw;
    }
    
    #sideBar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--cl-background);
        height: 100dvh;
        width: 80vw;
        justify-content: center;
        align-items: center;
        z-index: 99;
    }

    nav #motto{
        width: 80vw;
    }
    
    #sideBar .vitalgo-id img {
        width: 20vw;
        height: 18vw;
    }
    
    #sideBar .linkpages {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: 10vw;
        margin-top: 5vh;
        margin-left: 1.75rem;
    }
    
    #sideBar .linkpages a {
        width: 65%;
    }
    
    .aside1 {
        display: block;
        width: 10vw;
        height: 100dvh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    
    .aside1 .linkpages1 {
        display: flex;
        margin-top: 14vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .aside-footer1 {
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.23rem;
        bottom: 0;
        z-index: 20;
    }
    
    #open {
        display: block;
        width: 80%;
        cursor: pointer;
        align-items: center;
    }
    
    #close {
        display: block;
    }
    
    #close-sidebar {
        display: block;
        display: none;
        position: absolute;
        top: 0;
        height: 100dvh;
        width: 100vw;
        z-index: 98;
        background: var(--cl-bgopacity);
        opacity: var(--bgopacity);
        backdrop-filter: 1.2rem;
    }
    
    main {
        width: 90vw;
        margin-left: 10vw;
        padding: 1.78rem 1rem;
        box-sizing: border-box;
    }
    
    .header {
        height: 7vh;
    }
    
    span .monitoring {
        display: none;
    }
    
    .search-bar input {
        width: 145%;
        height: 2.33rem;
        margin: 0.3rem;
    }
    
    .search-bar i {
        font-size: 0.9rem;
    }
    
    .user-menu {
        gap: 0.7rem;
    }
    
    .user-menu img {
        width: 2rem;
        height: 2rem;
    }
    
    .user-menu h3, .user-menu h4 {
        display: none;
    }
    #localVideo{
        width: 100px;
        height: 180px;
        right: 4%;
        bottom: 15dvh;
      }
      #localVideo:hover{
        width: 140px;
        height: 200px;
      }
}

